
*,
*::before,
*::after{
  margin:0;
  padding: 0;
  box-sizing: inherit;
}



html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    background-color:  lightgreen;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: white;
    margin: 0;
    
}

header {
    float:left;
    display: block;
    padding: 2rem;
    background-color: rgb(219, 196, 196);
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}







 
 






